div{
    /* initial state */
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    /* transition: margin-top 2s ease-in-out 0.2s; */
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: steps(6);

      
    
}
div:hover{
    /* Final State */
    background-color: chartreuse;
    border-radius: 50%;
}