#container{
    height: 300px;
    width: 80%;
    background-color: aliceblue;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: baseline;
   
 

}
h1{
    text-align: center;
}
#container div{
    height:100px;
    width:300px;
    color: aliceblue;
    text-align: center;
    font-size:1.5em;
}