#container{
    height: 500px;
    width: 90%;
    background-color: beige;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;



}
h1{
    text-align: center;
}
#container div{
    height: 50px;
    width: 50px;
    color: antiquewhite;



}