#container{
    height: 500px;
    width: 90%;
    background-color: beige;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    align-content: flex-end;
    align-self: flex-start;
    flex: 2 2 100px;
   


}
#orange{
    flex-shrink: 2;
    min-width: 400px;
  
}
h1{
    text-align: center;
}

#container div{
    height: 50px;
    width: 50px;
    color: antiquewhite;

}