h1{
    background-color: yellowgreen;
    border: 2px solid black;
}
@media (max-width:700px){
    h1{
        background-color: orange;
        color: teal;
    }
    div{
        height: 200px;
        width: 200px;
        background-color: brown;
    }
}
@media (min-width:200px){
    h1{
        background-color: pink;
        color: teal;
    }
}

@media (orientation:portrait){
    div{
        background-color: chartreuse;
        color: dimgray;
    }
}