#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
   
    
}
#one{
    height: 50px;
    width: 50px;
    border: 2px solid black ;
    margin: 8px;
    background-color: red;
    border-radius: 50%;
}
#two{
    height: 50px;
    width: 50px;
    border: 2px solid black ;
    margin: 8px;
    background-color: yellow;
    border-radius: 50%;
}
#three{
    height: 50px;
    width: 50px;
    border: 2px solid black ;
    margin: 8px;
    background-color: green;
    border-radius: 50%;
}