div{
    display: inline-block;
    margin: 30px;
}        

#one{
    height: 200px;
    width: 200px;
    background-color: #c90eb0;
}

#two{
    height: 200px;
    width: 200px;
    background-color: #6ef0c7;
}