#face{
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin: 0 auto;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 70px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    right: 200px;
}

.left-eye,.right-eye{
    height: 70px; ;
    width: 70px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 100px;

}
 .right-eye{
         left: 350px ;

 }
 
 