body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main{
    display: flex;
    height: 1000vh;
}
.sidebar{
    background-color: red;
    width: 340px;
}
.main-content{
    background-color: blue;
    flex: 1 ;
}
.music-player{
    background-color: yellow;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;


}

